$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

body material-content {
  padding: 0;
  font-size: 14pt;
}

body material-content .footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

body .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

body .row {
  margin-left: 0;
  margin-right: 0;
}

.main div {
  padding-top: 40px;
  font-size: 20pt;
}

.main .material-button {
  padding: 10px 10px;  
}

.doctor {
  padding-top: 40px;
}

.doctor p, .login-panel p {
  font-size: 8pt;
  color: red;
}

.patient {
  margin-top: 50px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

img {
    padding-bottom: 25px;
}

body {
    padding-bottom: 0px;
}

.login-panel material-whiteframe {
  width: 500px;
  margin: auto;
  font-size: 24pt;
}

.login-panel form {
  padding: 12px 50px;
}

.login-panel input {
  width: 100%;
}

.material-input-group label,
.material-input-group input {
  transition-duration: 100ms;
}

.patient .panel-primary > .panel-heading {
  color: white;
  background-color: #4285f4;
  border-color: #4285f4;
}

.patient .panel-primary > .panel-heading div {
  display: inline;
}

.patient .panel-primary > .panel-heading div input {
  width: 140px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  cursor: pointer;
}

.patient table th, .patient table td {
  text-align: center;
}

.patient table th {
  font-weight: normal;
}

.patient table td {
  font-weight: bold;
}

.material-toolbar-tools div {
  line-height: 20px;
}
.material-toolbar-tools div span:nth-child(1) {
  font-weight: bold;
}
.material-toolbar-tools div span:nth-child(3) {
  font-size: 12pt;
}

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


.header {
    border-bottom: 1px solid #e5e5e5;
}


.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.footer-mask {
  height: 100px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.loader {
  width: 100%;
  text-align: center;
  padding-top: 25px;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

material-toast {
  margin-bottom: 50px;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 1050px;
    }

    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        margin-bottom: 30px;
    }

    .jumbotron {
        border-bottom: 0;
    }
}