<div class="patient row">
  <div class="col-md-5">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <div>
          <span>Période</span>
          <input
            type="daterange"
            ng-model="datesBP"
            min-date="minDateRange"
            max-date="maxDateRange"
            format="DD/MM"
            separator="--"
            ranges="defaultRange">
          <span class="glyphicon glyphicon-plus right" ng-click="addBPData()" ng-hide="editingBpData"></span>
        </div>
      </div>
      <table class="table table-hover" ng-if="!searchingBp">
        <thead>
        <tr>
          <th>Date</th>
          <th>Pression artérielle (mmhg)</th>
          <th>Fc (Bat/mn)</th>
          <th></th>
        </tr>
        </thead>
        <tbody ng-form="bpForm" ng-repeat="BP in BPDatas[bpIndex]">
        <tr ng-switch="BP.manual">
          <td ng-switch-when="undefined">{{BP.MDate}}</td>
          <td ng-switch-when="undefined" ng-style="bgColor(BP)">{{BP.HP}}/{{BP.LP}}</td>
          <td ng-switch-when="undefined">{{BP.HR}}</td>
          <td ng-switch-when="undefined" ng-show="BP._id">
            <span class="glyphicon glyphicon-pencil" ng-click="editBPData(BP)"></span>
            <span class="glyphicon glyphicon-trash" ng-click="removeBPData(BP)"></span>
          </td>
          <td ng-switch-when="true">
            <input name="MDate" type="text" ng-model="BP.MDate" required/>
          </td>
          <td ng-switch-when="true">
            <input name="HP" type="number" ng-model="BP.HP" min="60" max="250" required/> / <input name="LP" type="number" ng-model="BP.LP" min="40" max="130" required/>
          </td>
          <td ng-switch-when="true">
            <input name="HR" type="number" ng-model="BP.HR" min="40" max="220" required/>
          </td>
          <td ng-switch-when="true">
            <span class="glyphicon glyphicon-ok" ng-click="validBPData(BP)"></span>
            <span class="glyphicon glyphicon-remove" ng-click="cancelBPData(BP)"></span>
          </td>
        </tr>
        <tr ng-if="bpForm.$invalid && !bpForm.$pristine">
          <td colspan="4">
            <span ng-bind="errorMessage()" class="error"></span>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <span ng-click="lastBpIndex()" ng-show="showLastBpIndex()"
                  class="glyphicon glyphicon-step-backward left"></span>
            <span ng-click="previousBpIndex()" ng-show="showPreviousBpIndex()"
                  class="glyphicon glyphicon-backward left"></span>
            <span ng-click="firstBpIndex()" ng-show="showFirstBpIndex()"
                  class="glyphicon glyphicon-step-forward right"></span>
            <span ng-click="nextBpIndex()" ng-show="showNextBpIndex()" class="glyphicon glyphicon-forward right"></span>
            <span ng-bind="getBPDataLength()"></span>
          </td>
        </tr>
        </tfoot>
      </table>
      <div class="loader" ng-if="searchingBp">
        <img src="images/loader.gif"/>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="col-md-offset-2">
      <h4>Statistiques de pression artérielle sur la période sélectionnée</h4>
    </div>
    <nvd3-discrete-bar-chart
      data="BPClassified"
      id="BGChart"
      height="250"
      showXAxis="true"
      showYAxis="true"
      showValues="true"
      interactive="true"
      useInteractiveGuideline="true"
      xAxisTickFormat="xAxisTickFormat()"
      yAxisTickFormat="yAxisTickFormat()"
      color="color()">
      <svg></svg>
    </nvd3-discrete-bar-chart>
    <div class="col-md-offset-10">
      <h6>* Classification OMS</h6>
    </div>
  </div>
</div>
