<div class="patient row" ng-controller="GlucoseCtrl">
  <div class="col-md-5">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <div>
          <span>Période</span>
          <input
            type="daterange"
            ng-model="datesBG"
            min-date="minDateRange"
            max-date="maxDateRange"
            format="DD/MM"
            separator="--"
            ranges="defaultRange">

        </div>
        <div>
          <span>FILTRE</span>
          <select ng-model="momentBG" ng-change="filter()" class="form-control" style="width: 160px;display: inline"
                  ng-options="m.value as m.label for m in moments()">
            <option value="">Aucun</option>
          </select>
        </div>
        <span class="glyphicon glyphicon-plus right" ng-click="addBGData()" ng-hide="editingBgData"></span>
      </div>
      <table class="table table-hover" ng-if="!searchingBg">
        <thead>
        <tr>
          <th>Date</th>
          <th>Moment</th>
          <th>Glycémie (mg/dl)</th>
          <th></th>
        </tr>
        </thead>
        <tbody ng-form="bgForm" ng-repeat="BG in BGDatas[bgIndex]">
        <tr ng-switch="BG.manual">
          <td ng-switch-when="undefined">{{BG.MDate}}</td>
          <td ng-switch-when="undefined" ng-bind="moment(BG)"></td>
          <td ng-switch-when="undefined" ng-style="momentColor(BG)[0]">{{BG.BG}}</td>
          <td ng-switch-when="undefined" ng-show="BG._id">
            <span class="glyphicon glyphicon-pencil" ng-click="editBGData(BG)"></span>
            <span class="glyphicon glyphicon-trash" ng-click="removeBGData(BG)"></span>
          </td>
          <td ng-switch-when="true">
            <input name="MDate" type="text" ng-model="BG.MDate" required/>
          </td>
          <td ng-switch-when="true">
            <select name="DinnerSituation" ng-model="BG.DinnerSituation" class="form-control"
                    ng-options="m.value as m.label for m in moments()">
            </select>
          </td>
          <td ng-switch-when="true">
            <input name="BG" type="number" ng-model="BG.BG" min="20" max="600" required/>
          </td>
          <td ng-switch-when="true">
            <span class="glyphicon glyphicon-ok" ng-click="validBGData(BG)"></span>
            <span class="glyphicon glyphicon-remove" ng-click="cancelBGData(BG)"></span>
          </td>
        </tr>
        <tr ng-if="bgForm.$invalid && !bgForm.$pristine">
          <td colspan="4">
            <span ng-bind="errorMessage()" class="error"></span>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="3">
            <span ng-click="lastBgIndex()" ng-show="showLastBgIndex()"
                  class="glyphicon glyphicon-step-backward left"></span>
            <span ng-click="previousBgIndex()" ng-show="showPreviousBgIndex()"
                  class="glyphicon glyphicon-backward left"></span>
            <span ng-click="firstBgIndex()" ng-show="showFirstBgIndex()"
                  class="glyphicon glyphicon-step-forward right"></span>
            <span ng-click="nextBgIndex()" ng-show="showNextBgIndex()" class="glyphicon glyphicon-forward right"></span>
            <span ng-bind="getBGDataLength()"></span>
          </td>
        </tr>
        </tfoot>
      </table>
      <div class="loader" ng-if="searchingBg">
        <img src="images/loader.gif"/>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-7">
      <div ng-if="currentPage === 1">
        <div class="col-md-offset-2">
          <h4>Evolution de la glycémie capillaire sur la période sélectionnée (mg/dl)</h4>
        </div>
        <nvd3-line-chart
          id="chartBG"
          data="BGClassified"
          showYAxis="true"
          height="250"
          xAxisTickFormat="xBGAxisTickFormat()"
          tooltips="true"
          stacked="true"
          interactive="true">
        </nvd3-line-chart>
      </div>
      <div ng-if="currentPage === 2">
        <div class="col-md-12">
          <h4>Statistiques globales</h4>
        </div>
        <nvd3-discrete-bar-chart
          data="BGHisto"
          id="histoBG"
          height="250"
          showYAxis="true"
          showValues="true"
          interactive="true"
          useInteractiveGuideline="true"
          color="BGColors()">
          <svg></svg>
        </nvd3-discrete-bar-chart>
      </div>
      <div ng-if="currentPage === 3">
        <div class="col-md-12">
          <h4>Statistiques comparatives</h4>
        </div>
        <nvd3-multi-bar-chart
          data="BGMomentHisto"
          id="histoMomentBG"
          height="250"
          showYAxis="true"
          showValues="true"
          interactive="true"
          useInteractiveGuideline="true"
          color="colorFunction()">
          <svg></svg>
        </nvd3-multi-bar-chart>
      </div>
      <pager total-items="24" previous-text="Précédent" next-text="Suivant" ng-model="currentPage"></pager>
      <div class="col-md-12">
        <span>hba1c prévisionnelle : </span><span ng-bind="hba1c"> *</span>
        <br/>
        <small ng-if="currentUser.role !== 'DOCTOR'">*il s'agit d'une projection à partir de la moyenne de vos glycémies
          sur la période sélectionnée. L'hba1c prévisionnelle est une information
          qui vous permet de vous situer par rapport à l'objectif fixé par votre médecin.
        </small>
      </div>
      <div ng-if="(currentUser.role === 'PATIENT') && (bgLength > 10)" class="row">
        <div class="col-md-12">
          <img height="100" width="80" ng-src="{{smiley.img?('images/'+ smiley.img +'.png'):null}}">
          <small>{{smiley.texte}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
