<div ng-include="'partials/navbar'"></div>
<div class="title">
  <h1>Lifehealth</h1>
  <p class="button">
     <button type="submit" class="btn btn-default">Mon Compte</button>
  </p>
</div>


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Acceuil</a></li>
        <li><a href="#">Messagerie</a></li>
        <li><a href="#">Agenda</a></li>
        <li><a href="#">Labo/Radio</a></li>
        <li><a href="#">Workflow</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class = "containerPatient">
  <div class="row">
    <div class="CaseContainer">
      <div class="col-sm-4 col-md-4 col-sm-offset-2 col-md-offset-2">
        <h4> VOS PATIENTS </h4>
        <p> blabla </p>
      </div>
    </div>

    <div class="CaseContainer">
      <div class="col-sm-4 col-md-4 col-sm-offset-1 col-md-offset-1">
        <h4> IMPORTS PATIENTS </h4>
        <p> blabla </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="CaseContainer">
      <div class="col-sm-4 col-md-4 col-sm-offset-2 col-md-offset-2">
        <h4> AGENDA </h4>
        <p> blabla </p>
      </div>
    </div>

    <div class="CaseContainer">
      <div class="col-sm-4 col-md-4 col-sm-offset-1 col-md-offset-1">
        <h4> GESTION COURRIER </h4>
        <p> blabla </p>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>© 2014 Lifealth. All Rights Reserved</p>
</div>
