<material-toolbar class="material-theme-light">
    <div class="material-toolbar-tools">
        <span class="material-flex">Lifealth</span>
    </div>
</material-toolbar>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="images/login_patient.jpg" alt="patient" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Se connecter avec son compte</h2>
            <a href="/auth/iHealth" class="thumbnail">
                <img src="images/iHealth.png" alt="iHealth">
            </a>
        </div>
    </div>
 </div>

