<material-toolbar class="material-theme-light">
    <div class="material-toolbar-tools">
        <span class="material-flex">Lifealth</span>
        <button class="material-button" onclick="window.location='http://lifealth.com'">En savoir plus</button>
    </div>
</material-toolbar>

<div class="container-fluid">
    <div class="row">
        <h1 style="margin-bottom: 10%"></h1>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-4 col-sm-6">
            <img src="images/login_patient.jpg" alt="patient" class="img-responsive">
        </div>
        <div class="col-md-4 col-sm-6">
            <h2>Se connecter avec son compte</h2>
            <a id="login-ihealth" href="/auth/iHealth" class="thumbnail">
                <img src="images/iHealth.png" alt="iHealth">
            </a>
        </div>
    </div>
 </div>

