<div ng-include="'partials/includes/headerDoctor.html'"></div>
<div class="row">
  <div class="col-sm-12 text-center">
    <h1>Mot de passe perdu ?</h1>
  </div>
  <div class="col-sm-12 login-panel">
    <material-whiteframe class="material-flex material-display-flex material-flex-center material-whiteframe-z2">
      <div class="material-flex">
        <form class="form" name="form" ng-submit="sendEmail(form)" novalidate>

          <div class="material-input-group material-input-group-theme-light"
               ng-class="{ 'has-success': form.email.$valid && submitted, 'has-error': form.email.$invalid && submitted }">
            <label for="t2">Email</label>
            <input id="t2" type="email" name="email" ng-model="email" required>
            <p ng-show="form.email.$dirty && form.email.$error.required">obligatoire</p>
            <p ng-show="form.email.$dirty && form.email.$invalid">email invalide</p>
            <p class="help-block" ng-show="error">
              {{ error }}
            </p>
          </div>
          <div class="text-right">
            <button type="submit" class="material-button material-button-raised material-button-colored">Valider</button>
          </div>
        </form>
      </div>
    </material-whiteframe>
  </div>
</div>
<div ng-include="'partials/includes/footer.html'"></div>