<material-toolbar class="material-theme-light">
  <div class="material-toolbar-tools">
    <span class="material-flex">Lifealth</span>
    <button class="material-button" onclick="window.location='http://lifealth.com'">En savoir plus</button>
  </div>
</material-toolbar>
    <div class="main row">
        <div class="col-md-6 text-center">
            <a class="material-button material-button-raised material-button-colored" ng-href="/#/medecin">Médecin</a>
            <p>Accèdez à vos dossiers, gérer votre agenda, gérer vos courrier</p>
        </div>
        <div class="col-md-6 text-center">
            <a class="material-button material-button-raised material-button-colored" ng-href="/#/patient">Patient</a>
            <p>Accédez à votre dossier, partagez vos données biométriques</p>
        </div>
    </div>

<div ng-include="'partials/includes/footer.html'"></div>