<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Lifealth</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <a class="btn btn-primary" ng-href="/#/medecin">Médecin</a>
            <p>Accèdez à vos dossiers, gérer votre agenda, gérer vos courrier</p>
        </div>
        <div class="col-md-6 text-center">
            <a class="btn btn-primary" ng-href="/#/patient">Patient</a>
            <p>Accédez à votre dossier, partagez vos données biométriques</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>© 2014 Lifealth. All Rights Reserved</p>
        </div>
    </div>
</div>

