<div ng-include="'partials/navbar'"></div>

<div class="thumbnail">
<div class="title">
  <h1>Bienvenue sur Lifealth</h1>
  <p class="lead">
    "Connectez votre santé"
  </p>
</div>

<div class="row marketing">
  <div class="row">
    <h4>Avec votre nouveau logiciel de consultation, vous pouvez accéder à des fonctionnalités révolutionnaires: </h4>
    <br/>

    <div class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
      <div class="caption">
        <img src="images/preconsult.png" alt="preconsult_icon" height="">
      </div>
    </div> 
    <div class="col-sm-7 col-md-7">
      <h3>Préconsultation</h3>
      <p>Notre solution intègre automatiquement dans chaque dossier patient, les éléments d'anamnèse remplis par le patient sur son interface personnelle. Vous gagnez du temps et améliorez votre consultation. </p>
    </div>
  </div>

  <br/>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
      <div class="caption">
        <img src="images/biometrie.png" alt="biometrie_icon" height="">
      </div>
    </div> 
    <div class="col-sm-7 col-md-7">
      <h3>Biométrie intégrée</h3>
      <p>Lifealth est compatible avec toutes les plateformes existantes et vous permet d'intégrer automatiquement les données de vos patients. </p>
    </div>
  </div>

  <br/>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
      <div class="caption">
        <img src="images/agenda.png" alt="calendar_icon" height="">
      </div>
    </div> 
    <div class="col-sm-7 col-md-7">
      <h3>Agenda partagé</h3>
      <p>Vos plages horaires disponibles sont accessibles en ligne à l'ensemble des utilisateurs Lifealth. Vous optimisez ainsi vos créneaux de consultation. </p>
    </div>
  </div>
</div>
</div>

<div class="footer">
  <p>© 2014 Lifealth. All Rights Reserved</p>
</div>
