<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="titleMedecin">
      LIFEALTH
    </div>
  </div>
  <div class="col-sm-3 col-md-2">
    <div class="monCompte">
      <button type="submit" class="btn btn-default">Mon Compte</button>
    </div>
  </div>
  <div class="col-sm-3 col-md-2">
    <div class="monCompte">
      <a class="btn btn-default" ng-click="logout()">Deconnexion</a>
    </div>
  </div>
</div>

<div class = "navbarMedecin">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Messagerie</a></li>
          <li><a href="#">Agenda</a></li>
          <li><a href="#">Labo/Radio</a></li>
          <li><a href="#">Workflow</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

<div class = "containerMedecin">
  <div class="row">
    <div class="caseContainer">
      <div class="col-sm-6 col-md-4 col-md-offset-2">
        <div class="thumbnail">
          <div class="caption">
            <div class="titleBoxM"> VOS PATIENTS </div>
            <p> Améliorez les soins avec Lifealth et partagez les données</p>
            <a href="#"><div class="linkBoxM">Dossiers patients</div></a>
          </div>
        </div>
      </div>
    </div>

    <div class="caseContainer">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <div class="titleBoxM"> IMPORTS PATIENTS </div>
            <p> Importez votre liste de patients et créez de nouveaux comptes</p>
            <a href="#"><div class="linkBoxM"> Imports patients</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="caseContainer">
      <div class="col-sm-6 col-md-4 col-md-offset-2">
        <div class="thumbnail">
          <div class="caption">
            <div class="titleBoxM"> AGENDA </div>
            <p> Sélectionnez votre agenda en ligne parmis nos partenaires et optimisez vos rendez-vous </p>
            <a href="#"><div class="linkBoxM">Mes Rendez-Vous</div></a>
          </div>
        </div>
      </div>
    </div>

    <div class="caseContainer">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <div class="titleBoxM"> GESTION COURRIER </div>
            <p> Envoyez vos courriers et importez les comptes-rendus en un clic </p>
            <a href="#"><div class="linkBoxM">Documents</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>© 2014 Lifealth. All Rights Reserved</p>
</div>
