<div ng-include="'partials/includes/headerDoctor.html'"></div>

<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-2">
      <div class="thumbnail">
        <div class="caption">
          <h4>VOS PATIENTS</h4>
          <p>Améliorez les soins avec Lifealth et partagez les données</p>
          <a href="#/medecin">Dossiers patients</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h4>IMPORTS PATIENTS</h4>
          <p>Importez votre liste de patients et créez de nouveaux comptes</p>
          <a href="#/medecin">Imports patients</a>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-2">
      <div class="thumbnail">
        <div class="caption">
          <h4>AGENDA</h4>
          <p>Sélectionnez votre agenda en ligne parmis nos partenaires et optimisez vos rendez-vous</p>
          <a href="#/medecin">Mes Rendez-Vous</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h4>GESTION COURRIER</h4>
          <p>Envoyez vos courriers et importez les comptes-rendus en un clic</p>
          <a href="#/medecin">Documents</a>
        </div>
      </div>
    </div>
</div>

<div ng-include="'partials/includes/footer.html'"></div>

