<div ng-include="'partials/includes/headerDoctor.html'"></div>
<div class="row">
  <div class="col-sm-12 text-center">
    <h1>Nouveau mot de passe</h1>
  </div>
  <div class="col-sm-12 login-panel">
    <material-whiteframe class="material-flex material-display-flex material-flex-center material-whiteframe-z2">
      <div class="material-flex">
        <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

          <div class="material-input-group material-input-group-theme-light">
            <label for="t3">Mot de passe</label>
            <input id="t3" type="password" name="password" ng-model="password" required mongoose-error ng-minlength="3">

            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
              mot de passe au minimun de 3 caractères
            </p>

            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.password }}
            </p>
          </div>
          <div class="text-right">
            <button type="submit" class="material-button material-button-raised material-button-colored">Valider</button>
          </div>
        </form>
      </div>
    </material-whiteframe>
  </div>
</div>
<div ng-include="'partials/includes/footer.html'"></div>