<div ng-include="'partials/includes/headerPatient.html'"></div>
<material-sidenav class="material-sidenav-left material-whiteframe-z2" component-id="left">
  <material-toolbar class="material-theme-light">
    <div class="material-toolbar-tools">Menu</div>
  </material-toolbar>
    <material-list>
      <material-item ng-click="goToMonitoring()">
        <div class="material-tile-left">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="material-tile-content">
          <h2>Biométrie</h2>
        </div>
      </material-item>
      <material-item ng-click="goToMonitoring()">
        <div class="material-tile-left">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="material-tile-content">
          <h2>Biologie</h2>
        </div>
      </material-item>
      <material-item ng-click="goToMonitoring()">
        <div class="material-tile-left">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="material-tile-content">
          <h2>Imagerie</h2>
        </div>
      </material-item>
      <material-item ng-click="goToMonitoring()">
        <div class="material-tile-left">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="material-tile-content">
          <h2>Consultations</h2>
        </div>
      </material-item>
    </material-list>
</material-sidenav>
<div class="patient row">
    <div class="col-md-5">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">
              <div>
                <span>Période</span>
                <input
                type="daterange"
                ng-model="datesBP"
                min-date="minDateRange"
                max-date="maxDateRange"
                format="DD/MM"
                separator="--"
                ranges="defaultRange">
                <span ng-bind="getBPDataLength()"></span>
              </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Pression artérielle (mmhg)</th>
                    <th>Fc (Bat/mn)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="BP in BPDatas[bpIndex]">
                    <td>{{BP.MDate}}</td>
                  <td ng-style="bgColor(BP)">{{BP.HP}}/{{BP.LP}}</td>
                    <td>{{BP.HR}}</td>
                </tr>
                </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">
                    <span ng-click="lastBpIndex()" ng-show="showLastBpIndex()" class="glyphicon glyphicon-step-backward left"></span>
                    <span ng-click="previousBpIndex()" ng-show="showPreviousBpIndex()" class="glyphicon glyphicon-backward left"></span>
                    <span ng-click="firstBpIndex()" ng-show="showFirstBpIndex()" class="glyphicon glyphicon-step-forward right"></span>
                    <span ng-click="nextBpIndex()" ng-show="showNextBpIndex()" class="glyphicon glyphicon-forward right"></span>
                  </td>
                </tr>
              </tfoot>
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <div class="col-md-offset-2">
            <h4>Statistiques de pression artérielle sur la période sélectionnée</h4>
        </div>
        <nvd3-discrete-bar-chart
                data="BPClassified"
                id="BGChart"
                height="250"
                showXAxis="true"
                showYAxis="true"
                showValues="true"
                interactive="true"
                useInteractiveGuideline="true"
                xAxisTickFormat="xAxisTickFormat()"
                yAxisTickFormat="yAxisTickFormat()"
                color="color()">
          <svg></svg>
        </nvd3-discrete-bar-chart>
        <div class="col-md-offset-10">
            <h6>* Classification OMS</h6>
        </div>
    </div>
</div>

<div class="patient row">
    <div class="col-md-5">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <div>
                  <span>Période</span>
                  <input
                        type="daterange"
                        ng-model="datesBG"
                        min-date="minDateRange"
                        max-date="maxDateRange"
                        format="DD/MM"
                        separator="--"
                        ranges="defaultRange">
                  <span ng-bind="getBGDataLength()"></span>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Moment</th>
                    <th>Glycémie (mg/dl)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="BG in BGDatas[bgIndex]">
                    <td>{{BG.MDate}}</td>
                    <td>{{BG.DinnerSituation}}</td>
                    <td ng-style="momentColor(BG)">{{BG.BG}}</td>
                </tr>
                </tbody>
              <tfoot>
              <tr>
                <td colspan="3">
                  <span ng-click="lastBgIndex()" ng-show="showLastBgIndex()" class="glyphicon glyphicon-step-backward left"></span>
                  <span ng-click="previousBgIndex()" ng-show="showPreviousBgIndex()" class="glyphicon glyphicon-backward left"></span>
                  <span ng-click="firstBgIndex()" ng-show="showFirstBgIndex()" class="glyphicon glyphicon-step-forward right"></span>
                  <span ng-click="nextBgIndex()" ng-show="showNextBgIndex()" class="glyphicon glyphicon-forward right"></span>
                </td>
              </tr>
              </tfoot>
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <div class="col-md-offset-2">
            <h4>Evolution de la glycémie capillaire sur la période sélectionnée (mg/dl)</h4>
        </div>
        <nvd3-line-chart
                data="BGClassified"
                showYAxis="true"
                height="250"
                xAxisTickFormat="xBGAxisTickFormat()"
                tooltips="true"
                stacked="true"
                interactive="true">
        </nvd3-line-chart>
    </div>
</div>
  <div></div>

<div ng-include="'partials/includes/footer.html'"></div>

