<div ng-include="'partials/includes/headerPatient.html'"></div>


<div class="containerPatient">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-2">
      <div class="thumbnail">
        <div class="caption">
          <div class="titleBoxP">INFORMATIONS</div>
          <p>Vous avez une nouvelle donnée !</p>
          <a href="#/dataPatient"><div class="linkBoxP">Accéder à mes données de santé</div></a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <div class="titleBoxP">MON MEDECIN</div>
          <p>Dr URIBE Leonardo <br>
             7 rue des merles  <br>
             67470 Niederroedern <br>
             06 65 49 40 84 <br>
             contact@docteururibe.me</p>
          <a><div class="linkBoxP">Prendre rendez-vous</div></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="thumbnail">
        <div class="caption">
          <div class="titleBoxP"></div>
          <p>...</p>
          <a><div class="linkBoxP">Liez votre compte avec vos applications de santé et partagez vos données avec votre médecin</div></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'partials/includes/footer.html'"></div>

