<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="titlePatient">
      LIFEALTH
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="monCompte">
      <button type="submit" class="btn btn-default">Mon Compte</button>
    </div>
  </div>
</div>

<div class = "navbarPatient">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Notes</a></li>
          <li><a href="#">Trouver un médecin Lifealth</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>


<div class="containerPatient">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-2">
      <div class="thumbnail">
        <div class="caption">
          <div class="titleBoxP">INFORMATIONS</div>
          <p>Vous avez une nouvelle donnée !</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <div class="titleBoxP">MON MEDECIN</div>
          <p>Dr URIBE Leonardo <br>
             7 rue des merles  <br>
             67470 Niederroedern <br>
             06 65 49 40 84 <br>
             contact@docteururibe.me</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="thumbnail">
        <div class="caption">
          <div class="titleBoxP"></div>
          <p>...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>© 2014 Lifealth. All Rights Reserved</p>
</div>

